<extend name="./Application/Admin/View/Layout/application.html"/>

<block name="css">
    <style>
        .page2 {
            display: none;
        }
    </style>
</block>
<block name="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">

                <div class="page-header">
                    <h1>長樂未央
                        <small>簡明、易用</small>
                    </h1>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">文件管理</div>

                    <div class="panel-body">

                        <img src="{{$img_path}}" alt="" style="max-width: 100%; max-height: 500px;">

                    </div>
                </div>
            </div>
        </div>
    </div>

</block>

<block name="js">
    <script>

    </script>
</block>